<app-search-pokemon></app-search-pokemon>
<div class="container">
  <div class="pokemon-grid">
    <div appBorderCard class="pokemonList" *ngFor="let pokemon of pokemons" (click)="goToPokemon(pokemon)">
      <img class="pokemonPicture" [src]="pokemon.picture" />

      <div>
        <h1>{{ pokemon.name }}</h1>
        <p>{{ pokemon.created | date : "dd/MM/yyyy" }}</p>
        <span
          *ngFor="let type of pokemon.types"
          class="pokemonType"
          [style]="type | pokemonTypeColor"
        >
          {{ type }}
        </span>
      </div>
    </div>
  </div>
</div>
